@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #101828;
}
@custom-variant dark (&:where(.dark, .dark *));



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
}

.dark {
  --background: #101828;
  --foreground: #ffffff;
  color: var(--foreground);
  background: var(--background);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family:  var(--font-geist-sans),Arial, Helvetica, sans-serif;
}


.star {
  position: absolute;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.animate-pulse-subtle {
  animation-name: pulse-subtle;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes pulse-subtle {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.4);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}



@theme {
  --color-dark: oklch(77.7% 0.152 181.912); /* teal-400 */
  --color-light: oklch(60% 0.118 184.704); /* teal-600 */
}

@utility text-muted-foreground {
  @apply text-gray-500 dark:text-gray-400;
}

@utility gradient-border {
  @apply relative rounded-md;
  background: linear-gradient(to right, hsl(0 0% 100%), hsl(0 0% 100%));
  background-clip: padding-box;
  border: 1px solid transparent;
}

@utility card-hover {
  @apply transition-transform duration-300 hover:scale-[1.02] hover:shadow-lg;
}

@utility blob-hover {
  @apply transition-transform duration-300 hover:scale-[1.05];
}

@utility cosmic-button {
  @apply px-6 py-2 rounded-full dark:bg-dark bg-dark/10 text-light dark:text-white font-medium 
         transition-all duration-300 hover:shadow-2xl
         hover:scale-105 active:scale-95;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}